<!DOCTYPE html>
<html>

<head>
  <title>Homework Calendar</title>
  <meta charset='utf-8' />
  <link href='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.css' rel='stylesheet' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css'>
  <link rel="stylesheet" href="/stylesheets/main.css" media="screen">
  <link href='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.print.min.css' rel='stylesheet'
    media='print' />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/moment.min.js'></script>
  <script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/jquery.min.js'></script>
  <script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min
.js'></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- <script src="/home.js"></script> -->
</head>

<body class="main">
  <h1>Homework & To-Do List Calendar</h1>

  <div class="body">
    <div id='calendar'>
      <script>
        $(document).ready(function () {
          $('#calendar').fullCalendar({
            header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,basicWeek,basicDay'
            },
            defaultDate: '2019-07-24',
            navLinks: true,
            editable: true,
            eventLimit: true,
            events: [{
              <% hw.forEach(function(hw){ %>
              title: <%= hw.hw_name %>,
              start: <%= hw.start %>,
              end: <%= hw.end %>
              <% })%>
            },
              <% list.forEach(function(list){ %>
              title: <%= list.list_name %>,
              start: <%= list.start %>,
              end: <%= list.end %>
              <% })%>
              
            ],
            eventClick: function (calEvent, jsEvent, view, resourceObj) {
              swal({
                title: calEvent.title,
                text: moment(calEvent.start).format("MMMM Do YYYY, h:mm a"),
                icon: "success",
              });
            },

            if (title) {
              calEvent.title = title;
              calendar.fullCalendar('updateEvent', calEvent);
            }
          });
          $(".fc-right .fc-button-group").append(
            '<div class="input-group datetimepicker"><input type="text" class="form-control fc-datepicker" placeholder="YYYY-MM-DD" style="padding: 0;width: 0;border: none;margin: 0;"></div>'
          );
          $(".fc-datepicker").datepicker({
            dateFormat: 'yy-mm-dd',
            showOn: "button",
            buttonText: '<span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>'
          });
        });
      </script>
    </div>

    <div class="events">
      <button class="collapsible">Homework</button>
      <div id="content">
        <ul>
          <% hw.forEach(function(hw){ %>
          <h4><%= hw.class %>: <%= hw.hw_name %></h4>
          <p><%= hw.hw_text %></p>
          <p><%= hw.start %></p>
          <hr>
          <% })%>
        </ul>

        <!-- <a class="add-btn" href="#">Add Homework</a> -->
      </div>

      <div id="to-do">
        <button class="collapsible">To Do List</button>
        <ul>
            <% list.forEach(function(list){ %>
            <h4><%= list.list_name %></h4>
            <p><%= list.list_text %></p>
            <p><%= list.start %></p>
            <hr>
            <% })%>
          </ul>
        <!-- <a class="add-btn" href="#">Add to List</a> -->
      </div>
    </div>
</body>

</html>